.nav_links {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}

.nav_links li {
    display: inline;
    padding: 3%;
    text-decoration: none;
    font-size: 2em;
}

.nav_links ul {
    text-align: center;
}

.main_header {
    text-align: center;
    padding: 3%;
}

.main_header h1 {
    font-weight: bold;
    font-size: 4em;
}

.main_block {
    padding: 1%;
    padding-bottom: 5%;
    background-color: rgba(43, 43, 109, 0.64);
    max-width: 100%;
    border-radius: 5px;
}
