{% extends "base.jinja2" %}
{% block content %}
<form action='' method='POST'>
    {{ form.csrf_token }}
    <div>
        {{ form.title }}
    </div>

    <div>
        {{ form.text }}
    </div>
    <div><INPUT TYPE="submit" VALUE="submit"></div>
</form>
{% endblock %}
