<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Learning Journal</title>
    <link rel="stylesheet" type="text/css" href="/static/vendor/styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/styles/skeleton.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/styles/base.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/module.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/state.css">
</head>
<body>
    <main class="main_block">
        <header class="main_header">
            <h1>Iris's Learning Journal</h1>
            <nav class="nav_links">
                <ul>
                    <li><a href="/"><button>Home</button></a></li>
                    {% if request.has_permission('add') %}
                    <li><a href="/add"><button>Add Entry</button></a></li>
                    {% endif %}
                    <li><a href="/login"><button>Login</button></a></li>
                    <li><a href="/logout"><button>Logout</button></a></li>
                </ul>
            </nav>
        </header>
        <section>
            {% block content %}
            {% endblock content %}
        </section>
    </main>
</body>
</html>
